*{
    margin:0;
}

.dflex{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 100px;
    gap: 40px;
}

.sectionWidgetFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px;
    gap: 50px;
}

.padding{
    padding: 75px;
}

@media only screen and (max-width: 768px) {
    .mediaQuerySection{
        display: flex;
        flex-direction: column;
    }

    .mediaQueryItem{
        width: 300px;
    }

    .displayNone{
        display: none;
    }

}

@media only screen and (max-width: 576px) { 
    .displayNone{
        display: none;
    }
 }