.hero-img {
  width: 200%;
  height: 100%;
  transform: translateX(-50%);
}

.heroContainer {
  height: 100%;
}

.textHero {
  color: #eee !important;
  z-index: 9999 !important;
}

@media screen and (max-width: 820px) {
  .heroContainer {
    height: 85%;
  }

  .hero-img {
    width: 200%;
    height: 80%;
    transform: translate(-35%, 7%);
  }
}
@media screen and (max-width: 576px) {
  .heroContainer {
    margin-top: 5rem;
  }

  .hero-img {
    display: none;
  }

  #col2 {
    display: none;
  }
}
