#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.menuBar{
/*   background-color: #27496D; */
background-color: #3d6fab;
/*   background-color: #142850; */
  width: 100vw;
  height: 10vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

.menuCon{
  margin-left: 30px;
  display: flex;
  justify-content:center;
  gap: 20px;
}

