.cards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    text-align: center;
    margin-top: 12rem;
}

.btnButton{
    width: 230px;
    height: 40px;
    border-radius: 10px;
/*     background-color: #3F72AF; */
    background-color: #ff4d4f;
    font-weight: 600;
    font-size: 15px;
    border:none;
}