.cardsComponent{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
    text-align: center;
    background-color: rgb(17,45,78);
    background: linear-gradient(200deg, rgba(17,45,78,1) 35%, rgba(35,3,56,1) 70%);
    width: 100vw;
    height: 100vh;
}

.btnButton{
    width: 230px;
    height: 40px;
    border-radius: 10px;
/*     background-color: #3F72AF; */
    background-color: #ff4d4f;
    font-weight: 600;
    font-size: 15px;
    border:none;
    color: white;
}

.buttonStandard{
    background-color: #246cfd;
}