.img-logo {
    width:30%;
}

.footer-links {
    text-decoration: none;
}

.footer-links:hover {
    color: #0C7B93;
}

.modifyFooter{
    background-color: #142850;
    height: 25vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color: rgb(191, 210, 227);
}

.modifyPFooter{
    font-family: 'Joan', serif;
    font-size: 16px;
}
