@import 'antd/dist/antd.min.css';

.modifyTabs{
    /*  margin-top: 12rem; */
    background-color: #112D4E;
    width: 100vw;
    height: 100vh;


}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    width: 100%;
    z-index: 1;
}

#rc-tabs-0-panel-1,
#rc-tabs-0-panel-3,
#rc-tabs-0-panel-5{
    flex-direction: row-reverse;
}

.img-demo{
    max-width: 500px;
    max-height: 400px;
} 

h1{
    font-size: 35px;
    font-family: 'Cardo', serif;
    font-weight: 800;
    color: rgb(191, 210, 227)
}

.pTabs{
    color:rgb(191, 210, 227);
    font-size: 23px;
    font-family: 'Joan', serif;
}
