.logo{
  background-image: url('../../imgs/data-wave.svg');
  background-size:cover;
  font-family: 'Inknut Antiqua', serif;
  padding: 10px;
  color:white;
  font-weight:bold;
  margin:0;
  font-size: 30px;
}
.footer-links {
  text-decoration: none;
}

.footer-links:hover {
  color: orangered;
}

.footerContainer {
  background-color: #0F143D;
  color: #eee;
  padding: 2rem 4rem;
}

@media screen and (max-width: 576px) {
  .footerContainer {
    padding: 2rem 1rem;
  }

  .disclaimer {
    padding-top: 1rem !important;
  }
}
