.abbContainer {
  width: 100%;
  padding: 8rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(
    250px circle at 50% 50%,
    rgb(255, 153, 0) 0%,
    rgba(34, 40, 49, 1) 100%
  );
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px rgba(152, 152, 152, 0.756);
  transition: 0.5s;
}

.ant-card-body {
  padding: 3rem !important;
}

.card h1 {
  text-align: center;
}

.card p {
  display: flex;
  align-items: center;
}

.ant-card-body {
  width: 100% !important;
}

.btnCardCont {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .abbContainer {
    flex-direction: column;
  }

  #card1 {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 576px) {
  .abbContainer {
    flex-direction: column;
    gap: 0;
    margin-top: 10rem;
    background: radial-gradient(
      250px circle at 50% 40%,
      rgb(255, 153, 0) 0%,
      rgba(34, 40, 49, 1) 100%
    );
  }

  .card {
    padding: 2rem !important;
  }

  .ant-card-body {
    padding: 1rem !important;
  }

  #card1 {
    margin-top: 10rem;
  }

  #root > div > div:nth-child(2) > div.tabContainer > div > div > div {
    padding: 0 2rem;
  }
}
